<h1>Welcome to CryptoZone</h1>
<% if @user.errors.any? %>
	<div>
		<h2>Errors:</h2>
		<ol>
			<% @user.errors.full_messages.each do |message| %>
			<li> <%= message %></li>
			<%end%>
		</ol>
	</div>
<% end %>

<h1>Log in</h1>

<%= form_tag '/signin' do %>
 Username: <%= text_field_tag :username %>
 Password: <%= text_field_tag :password %>
 <%= submit_tag 'Sign In' %>
<% end %>
