<% if logged_in? && (current_user.id == @user.id) %>
	<h1>Your Dashboard</h1>
	<h3>Username: <%= @user.username %></h3>
<% else %>
	<h1>Username: <%= @user.username %></h1>
<% end %>

<h3>User ID: <%= @user.id %></h3>
<h3>Contact: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></h3>
<h5><%= link_to "Edit Account Info", "#{user_path(@user)}/edit" %></h5>

<% if logged_in? && (current_user.id == @user.id) %>

	<h2>Listings</h2>

	<% if (@user.inactive_listings_count == 0) && (@user.active_listings_count == 0) %>
		<h5>You Have No Listings</h5>
	<% end %>

	<h5><%= link_to "Create New Listing", '/listings/new' %></h5>

	<% if @user.active_listings_count > 0 %>
		<h3>Your Active Listings</h3>
		<table style="width: 60%; border: 1px solid black">
			<tr>
				<th style="text-align: left; border: 1px solid black ">Listing Title</th>
				<th style="text-align: left; border: 1px solid black ">Price</th>
				<th style="text-align: left; border: 1px solid black ">Image</th>
				<th style="text-align: left; border: 1px solid black ">Stock Left</th>
				<th style="text-align: left; border: 1px solid black ">Manage</th>
			</tr>
			<% @user.listings.each do |listing| %>
				<% if listing.active %>
					<tr>
						<td style="text-align: left; border: 1px solid black "><%= link_to listing.title, listing_path(listing)%></td>
						<td style="text-align: left; border: 1px solid black "><%= listing.price%> <%= listing.currency %></td>
						<td style="text-align: center; border: 1px solid black "><img style="width: 50px; height: 50px;" src=<%= listing.image_url %>/></td>
						<td style="text-align: left; border: 1px solid black "><%= listing.stock_quantity %></td>
						<td style="text-align: left; border: 1px solid black "><%= if listing.active then "Active" else "Inactive" end %>  <%= link_to "(Deactivate)", listing, method: :delete, data: {confirm: "Are You Sure?"} %> <br> <%= link_to "Edit Listing", "#{listing_path(listing)}/edit" %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>

	<% if @user.inactive_listings_count > 0 %>
		<h3>Your Inactive Listings</h3>
		<table style="width: 60%; border: 1px solid black">
			<tr>
				<th style="text-align: left; border: 1px solid black ">Listing Title</th>
				<th style="text-align: left; border: 1px solid black ">Price</th>
				<th style="text-align: left; border: 1px solid black ">Image</th>
				<th style="text-align: left; border: 1px solid black ">Stock Left</th>
				<th style="text-align: left; border: 1px solid black ">Manage</th>
			</tr>
			<% @user.listings.each do |listing| %>
				<% if !listing.active %>
					<tr>
						<td style="text-align: left; border: 1px solid black "><%= link_to listing.title, listing_path(listing)%></td>
						<td style="text-align: left; border: 1px solid black "><%= listing.price%> <%= listing.currency %></td>
						<td style="text-align: center; border: 1px solid black "><img style="width: 50px; height: 50px;" src=<%= listing.image_url %>/></td>
						<td style="text-align: left; border: 1px solid black "><%= listing.stock_quantity %></td>
						<td style="text-align: left; border: 1px solid black "><%= if listing.active then "Active" else "Inactive" end %>  <%= link_to "(Activate)", listing, method: :delete, data: {confirm: "Are You Sure?"} %> <br> <%= link_to "Edit Listing", "#{listing_path(listing)}/edit" %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>

	<h2>Order History</h2>
	<h5><%= link_to "Go To All CryptoZone Listings", '/listings' %></h5>

	<% if @user.sell_orders_count > 0 %>
		<h2>Your Sell-Order History</h2>
		<table style="width: 60%; border: 1px solid black">
			<tr>
				<th style="text-align: left; border: 1px solid black ">Order Id</th>
				<th style="text-align: left; border: 1px solid black ">Listing Title</th>
				<th style="text-align: left; border: 1px solid black ">Buyer</th>
			</tr>
			<% @user.customer_orders.each do |order| %>
			<tr>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.id, order_path(order) %></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.listing.title, listing_path(order.listing)%></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.buyer.username, user_path(order.buyer)%></td>
			</tr>
			<% end %>
		</table>
	<% end %>

	<% if @user.buy_orders_count > 0 %>
		<h2>Your Buy-Order History</h2>
		<h6>
			<%= link_to "Your Reviews", {:controller => "reviews", :action => "index"} %>
		</h6>
		<table style="width: 60%; border: 1px solid black">
			<tr>
				<th style="text-align: left; border: 1px solid black ">Order Id</th>
				<th style="text-align: left; border: 1px solid black ">Listing Title</th>
				<th style="text-align: left; border: 1px solid black ">Seller</th>
				<th style="text-align: left; border: 1px solid black ">Your Review</th>
			</tr>
			<% @user.orders.each do |order| %>
			<tr>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.id, order_path(order) %></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.listing.title, listing_path(order.listing)%></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.seller.username, order_path(order.seller)%></td>
				<% if order.review %>
					<td style="text-align: left; border: 1px solid black "> <%= link_to order.review.content[0..10], review_path(order.review)%>...<br>
						Rated: <%= order.review.star_image %> (<%= order.review.rating%>)
					</td>
				<% else %>
					<td style="text-align: left; border: 1px solid black ">
						<%= link_to "Leave a Review", {:controller => "reviews", :action => "new", :order_id => order.id} %>
					</td>
				<% end %>
				
			</tr>
			<% end %>
		</table>
	<% end %>

	<% if (@user.sell_orders_count == 0) && (@user.buy_orders_count == 0) %>
		<h5>You Have Made No Orders</h5>
	<% end %>
	<!-- ############################# -->

	<h2>Your Wallet</h2>
	<table style="width: 60%; border: 1px solid black">
		<tr>
			<th style="text-align: left; border: 1px solid black ">Currency</th>
			<th style="text-align: left; border: 1px solid black ">Balance</th>
			<th style="text-align: left; border: 1px solid black ">Address</th>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">USD</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.usd_balance %></td>
			<td style="text-align: left; border: 1px solid black "> N/A </td>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">Bitcoin</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.btc_balance %></td>
			<td style="text-align: left; border: 1px solid black "><%= @user.wallet.btc_address %></td>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">Ethereum</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.eth_balance %></td>
			<td style="text-align: left; border: 1px solid black "><%= @user.wallet.eth_address %></td>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">Litecoin</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.ltc_balance %></td>
			<td style="text-align: left; border: 1px solid black "><%= @user.wallet.ltc_address %></td>
		</tr>
	</table>

<% else %>

	<h2>Active Listings By This User</h2>

	<table style="width: 60%; border: 1px solid black">
		<tr>
			<th style="text-align: left; border: 1px solid black ">Listing Title</th>
			<th style="text-align: left; border: 1px solid black ">Price</th>
			<th style="text-align: left; border: 1px solid black ">Image</th>
		</tr>
		<% @user.listings.each do |listing| %>
			<% if listing.active %>
				<tr>
					<td style="text-align: left; border: 1px solid black "><%= link_to listing.title, listing_path(listing)%></td>
					<td style="text-align: left; border: 1px solid black "><%= listing.price%> <%= listing.currency %></td>
					<td style="text-align: center; border: 1px solid black "><img style="width: 50px; height: 50px;" src=<%= listing.image_url %>/></td>
				</tr>
			<% end %>
		<% end %>
	</table>

<% end %>
