<h1>Username: <%= @user.username %></h1>
<h3>User ID: <%= @user.id %></h3>
<h3>Contact: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></h3>

<% if logged_in? && (current_user.id == @user.id) %>
	<h2>Your Listings</h2>
<% else %>
	<h2>Listings By This User</h2>
<% end %>
<table style="width: 60%; border: 1px solid black">
	<tr>
		<th style="text-align: left; border: 1px solid black ">Listing Title</th>
		<th style="text-align: left; border: 1px solid black ">Price</th>
		<th style="text-align: left; border: 1px solid black ">Image</th>
		<% if logged_in? && (current_user.id == @user.id) %>
			<th style="text-align: left; border: 1px solid black ">Stock Left</th>
		<% end %>
	</tr>
	<% @user.listings.each do |listing| %>
		<tr>
			<td style="text-align: left; border: 1px solid black "><%= link_to listing.title, listing_path(listing)%></td>
			<td style="text-align: left; border: 1px solid black ">$<%= listing.price%></td>
			<td style="text-align: center; border: 1px solid black "><img style="width: 50px; height: 50px;" src=<%= listing.image_url %>/></td>
			<% if logged_in? && (current_user.id == @user.id) %>
				<td style="text-align: left; border: 1px solid black "><%= listing.stock_quantity %></td>
			<% end %>
		</tr>
	<% end %>
</table>


<% if logged_in? && (current_user.id == @user.id) %>
	<h2>Your Selling-Order History</h2>
	<table style="width: 60%; border: 1px solid black">
		<tr>
			<th style="text-align: left; border: 1px solid black ">Order Id</th>
			<th style="text-align: left; border: 1px solid black ">Listing Title</th>
			<th style="text-align: left; border: 1px solid black ">Buyer</th>
		</tr>
		<% @user.customer_orders.each do |order| %>
			<tr>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.id, order_path(order) %></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.listing.title, listing_path(order.listing)%></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.buyer.username, user_path(order.buyer)%></td>
			</tr>
		<% end %>
	</table>

	<h2>Your Buying-Order History</h2>
	<table style="width: 60%; border: 1px solid black">
		<tr>
			<th style="text-align: left; border: 1px solid black ">Order Id</th>
			<th style="text-align: left; border: 1px solid black ">Listing Title</th>
			<th style="text-align: left; border: 1px solid black ">Seller</th>
		</tr>
		<% @user.orders.each do |order| %>
			<tr>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.id, order_path(order) %></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.listing.title, listing_path(order.listing)%></td>
				<td style="text-align: left; border: 1px solid black "><%= link_to order.seller.username, order_path(order.seller)%></td>
			</tr>
		<% end %>
	</table>

	<!-- ############################# -->

	<h2>Your Wallet</h2>
	<table style="width: 60%; border: 1px solid black">
		<tr>
			<th style="text-align: left; border: 1px solid black ">Currency</th>
			<th style="text-align: left; border: 1px solid black ">Balance</th>
			<th style="text-align: left; border: 1px solid black ">Address</th>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">USD</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.usd_balance %></td>
			<td style="text-align: left; border: 1px solid black "> N/A </td>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">Bitcoin</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.btc_balance %></td>
			<td style="text-align: left; border: 1px solid black "><%= @user.wallet.btc_address %></td>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">Ethereum</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.eth_balance %></td>
			<td style="text-align: left; border: 1px solid black "><%= @user.wallet.eth_address %></td>
		</tr>
		<tr>
			<td style="text-align: left; border: 1px solid black ">Litecoin</td>
			<td style="text-align: center; border: 1px solid black "><%= @user.wallet.ltc_balance %></td>
			<td style="text-align: left; border: 1px solid black "><%= @user.wallet.ltc_address %></td>
		</tr>
	</table>

<% end %>
