<h2>Edit Your Review for: 
 <%= @order.quantity == 1? "one" : @order.quantity + "x"%>
 <%= @listing.title %> </h2>
<h5>Placed on <%= @order.created_at.strftime("%A, %B %Y at %H:%M %z") %></h5>


<% if @review.errors.any? %>
		<ul>
			<% @review.errors.full_messages.each do |msg| %>
				<li style="color: red;"> <%= msg %> </li>
			<% end %>
		</ul>
<% end %>


<img style="width: 40%; align-text: left;" src="<%= @listing.image_url %>">

<%= form_for @review do |f| %>
	<div>		
		<%= f.label :rating %>
		<%= @review.star_image%> (<%=@review.rating%>)
		<%= f.select :rating, options_for_select(1..5) %>
	</div>
	<div>	
	<%= f.label :Message %> <br>
	<%= f.text_area :content %> <br>
	</div>
  	<%= f.submit "Leave Review" %>
<% end %>

<div>	
	<br>
	<%= link_to "Return to Review", review_path(@review)%>
	<br>
	<%= link_to 'Delete this Review', @review, method: :delete, data: { confirm: 'Are you sure?' }%>
	<br>
</div>