<!DOCTYPE html>
<html>
  <head>
    <title>CryptoZone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= link_to "Listings Index", listings_path %>
  	<%= link_to "Users Index", users_path %>
    <%= link_to "Orders Index", orders_path %>
  	<%= logged_in? ? link_to("Sign Out", '/logout') : link_to("Sign In", '/login') %>
    <%= if logged_in? then link_to("Your Dashboard", user_path(current_user)) end %>
    <br />
    <%= yield %>
  </body>
</html>
